include "config/input.kdl"
include "config/output.kdl"
include "config/layout.kdl"
include "config/misc.kdl"
include "config/animations.kdl"
include "config/window-rule.kdl"
include "config/layer-rule.kdl"
include "config/binds.kdl"
